.start-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.room-menu {
  width: 350px;
  height: 820px;
  background: #FEFCE8;
  position: fixed;
  top: 64px;
  padding: 30px;
}

.modal-background{
  position: fixed;
  top:0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.add-card-header {
  justify-content: space-between;
}

.room-content-center-layout,
.room-content-form-layout {
  padding-top: 100px;
  height: 89vh;
}
.room-content-form-layout {
  background-color: #FEFCE8;
}

.room-content-form
{
  margin: 0 auto;
  width: 45%;
}

.room-content-center-layout {
  background-color: #F6F7F9;
}

.room-content-center {
  margin: 0 auto;
  width: 90%;
}
