.start-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.room-menu {
  width: 350px;
  height: 100vh;
  background: #FEFCE8;
  position: fixed;
  top: 56px;
  padding: 30px;
  z-index: 1300;
}


.add-card-header {
  justify-content: space-between;
}

.room-content-center-layout,
.room-content-form-layout {
  padding-top: 100px;
  min-height: 100vh;
  overflow: auto;
}
.room-content-form-layout {
  background-color: #FEFCE8;
}

.room-content-form
{
  margin: 0 auto;
  width: 45%;
}

.room-content-center-layout {
  background-color: #F6F7F9;
}

.room-content-center {
  margin: 0 auto;
  width: 90%;
}

.video-group-category {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  cursor: pointer;
  background: #FEF08A;
  padding: 10px;
  margin: 25px 0;
  border-radius: 10px;
}

.video-card {
  width: 350px;
  height: 200px;
  margin: 0 10px;
}

.video-card-header,
.video-card-center,
.video-card-footer
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.video-card-str-btn {
  color: #1976D2;
  cursor: pointer;
}

a,
a:visited{
  color: #1976D2;
  text-decoration: none;
}

.dialog-modal {
  width: 550px;
  height: 500px;
}

.modal-background{
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 6%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 1200;
}


.modal {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 1000px;
  height: 600px;
  background-color: blanchedalmond;
  z-index: 1500;
}
.modal > div:first-child {
  display: flex;
  justify-content: flex-end;
  color: red;
  cursor: pointer;
  padding-top: 7px;
  padding-right: 7px;
}

.modal > div:last-child {
  padding: 55px 0;
}